# FastAPI & Server
fastapi
uvicorn[standard]
pydantic
python-multipart

# Machine Learning
scikit-learn
numpy
pandas

# NLP
nltk
Sastrawi

# Utilities
python-dotenv
joblib

# LLM Integration
openai

# CORS
python-jose[cryptography]
 
# Cache
redis
